@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}
:root {
    --bs-fontfamily: "Livvic", serif;
    --bs-fontvolkhov: "Volkhov", serif;
    --bs-fw700: 700;
    --bs-fw600: 600;
    --bs-fw500: 500;
    --bs-fw400: 400;
    --bs-fw300: 300;
    --bs-fw200: 200;
    --bs-bgblue: #EEF1F4;
    --bs-blue: #0D659B;
    --bs-cgreen: #1C99AA;
    --bs-green: #009E4B;
    --bs-green-two: #039E4E;
    --bs-grey: #5C606E;
    --bs-lightgrey: #e6e6e6;
    --bs-lineheight: 1.35;
    --bs-border0: 0;
    --bs-h1: 50px;
    --bs-h2: 45px;
    --bs-h3: 26px;
    --bs-h4: 23px;
    --bs-h50: 42px;
    --bs-h40: 34px;
    --bs-fs26: 23px;
    --bs-fs24: 21px;
    --bs-fs22: 20px;
    --bs-fs20: 18px;
    --bs-fs18: 16px;
    --bs-fsbody: 20px;
}
body{
 	font-family: var(--bs-fontfamily);
    font-weight: var(--bs-fw300);
    color: var(--bs-blue);
	font-size: var(--bs-fsbody);
    line-height: 1.6;
}
body.hidden {
    overflow: hidden;
}
h1, h2, h3, h4{
	font-family: inherit;
    color: inherit;
    font-weight: var(--bs-fw700);
    line-height: var(--bs-lineheight);
}
h1, h2 {
    font-family: var(--bs-fontvolkhov);
}
h1 {
    font-size: var(--bs-h1);
    margin-bottom: 15px;
    line-height: 1.2;
}
h2 {
	font-size: var(--bs-h2);
    color: var(--bs-blue);
}
h3{
    font-size: var(--bs-h3);
}
h4{
    font-size: var(--bs-h4);
    font-weight: 600;
}
.h3_large {
    font-size: var(--bs-h40);
}
.sub_title {
    font-weight: var(--bs-fw700);
    font-size: var(--bs-fs22);
}
.fw_light {
    font-weight: var(--bs-fw300);
}
.fw_medium {
    font-weight: var(--bs-fw500);
}
.fw_semibold {
    font-weight: var(--bs-fw600);
}
.fw_bold {
    font-weight: var(--bs-fw700);
}
strong {
    font-weight: var(--bs-fw700);
}
p{
	font-size: inherit;
    color: inherit;
}
a{
	text-decoration: none;
	color: inherit;
}
.small, small {
    font-size: 80%;
}
ul {
    padding: 0;
}
ul li{
    list-style: none;
}
img {
    max-width: 100%;
}
.text-green {
    color: var(--bs-green);
}
.text-blue {
    color: var(--bs-blue);
}
.font-volk {
    font-family: var(--bs-fontvolkhov);
}
.btn_block{
	display: flex;
	flex-wrap: wrap;
	margin: 1rem 0;
}
.button {
	min-width: 100px;
    width: auto;
    display: inline-block;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    border-radius: 0;
    padding: inherit;
    box-shadow: none;
    border: var(--bs-border0);
    background: transparent;
    text-decoration: none !important;
    outline: none !important;
    line-height: normal;
    text-align: center;
    transition: .5s all;
}
.blue_btn, .green_btn {
    position: relative;
    font-weight: var(--bs-fw700);
    font-size: var(--bs-fs22);
    padding: 12px 18px;
    transition: .3s all;
}
.blue_btn img, .green_btn img {
    position: relative;
    width: 20px;
    top: -2px;
    margin-left: 10px;
}
.blue_btn span, .green_btn span {
    position: relative;
    z-index: 1;
}
.blue_btn:after, .green_btn:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: 0;
    background: linear-gradient(to left, var(--bs-blue), var(--bs-cgreen));
    transition: .5s all;
    opacity: 44%;
}
.green_btn:after, .blue_btn.green:after {
    background: linear-gradient(to right, var(--bs-blue), var(--bs-green-two));
}
.blue_btn:hover:after, .green_btn:hover:after{
    height: 100%;
    opacity: 1;
}
.blue_btn:hover, .green_btn:hover {
    color: #fff;
}
.blue_btn:hover img, .green_btn:hover img {
    filter: brightness(0) invert(1);
}
.fill_btn {
    position: relative;
    font-weight: var(--bs-fw700);
    font-size: var(--bs-fs26);
    padding: 14px 25px;
    color: #fff;
    background: linear-gradient(to left, var(--bs-blue), var(--bs-cgreen));
}
.fill_btn img {
    position: relative;
    width: 30px;
    top: -2px;
    margin-left: 10px;
}

header {
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    transition: .4s all;
}
.navbar.sticky {
    position: fixed;
    box-shadow: 0 1px 10px rgb(0 0 0 / 5%);
}
.navbar-brand {
    max-width: 320px;
    transition: .5s all;
    padding: 0;
}
.search_bar {
    padding: 4px 1rem 4px 3rem;
    border: 1px solid #E2E8EC;
    border-radius: 35px;
    color: #7B7B7B;
    outline: none;
    font-weight: 300;
}
.search_icon {
    background-image: url(../images/search-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: #5C606E;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}
ul.navbar-nav.main--menu li.megamenu-fw {
    position: static;
}
ul.navbar-nav.main--menu li.nav-item .dropdown-toggle:after {
    display: none;
}
.navbar-nav .dropdown-menu ul li .termin_praxis,
.navbar-nav .dropdown-menu ul li .termin_aproke {
    width: max-content;
    max-width: 100%;
    position: relative;
    font-weight: var(--bs-fw700);
    padding: 15px !important;
    color: #fff;
    margin-top: 1rem;
    display: inline-block;
    background: linear-gradient(to left, var(--bs-blue), var(--bs-cgreen));
}
.navbar-nav .dropdown-menu ul li a.termin_aproke {
    background: linear-gradient(to left, rgba(0, 158, 75, 1), rgba(28, 153, 170, 1));
}
.navbar-nav .dropdown-menu ul li a.termin_praxis img,
.navbar-nav .dropdown-menu ul li a.termin_aproke img {
    margin-left: 10px;
}
}

.wi_full {
    width: 100%;
    display: inline-block;
}
.py_3 {
    padding-top: 4rem;
    padding-bottom: 4rem;    
}
.mt_3 {
    margin-top: 4rem;
}
.mt_col {
    margin-top: 1.5rem;
}
.bg_dark_grey {
    background-color: var(--bs-grey);
}
.bg_light_blue {
    background-color: var(--bs-bgblue);
}

.banner_sec {
    padding-top: 4rem !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    margin-top: 110px;
 p {
    font-size: var(--bs-h3);
}
.banner_btns {
    display: flex;
    justify-content: center;
}
.buttn_1 {
    margin-right: 2rem;
}
.round_btn {
    background: linear-gradient(to right, var(--bs-blue), var(--bs-green-two));
    text-align: center;
    display: inline-flex;
    color: #fff;
    position: relative;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    font-weight: var(--bs-fw700);
    font-size: var(--bs-h3);
    line-height: 1.15;
    animation: pulse-animation 2s infinite;
}
.round_2 {
    background: linear-gradient(to right, var(--bs-blue), var(--bs-cgreen));
    animation: pulse-animation2 2s infinite;
    margin-left: 3rem;
}
.round_btn a {
    font-size: inherit;
    position: absolute;
    padding: 1rem;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(3, 158, 78, 0.5);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(3, 158, 78, 0);
    }
}
@keyframes pulse-animation2 {
    0% {
        box-shadow: 0 0 0 0px rgba(13, 101, 155, 0.5);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(13, 101, 155, 0);
    }
}

.heart_sec {
.heart_block {
    display: flex;
    align-items: center;
}
.heart_block img.heart_img {
    width: 230px;
}
}

.partner_sec {
    .partner_wrap {
        justify-content: space-around;
        margin-top: 2.5rem;
        align-items: center;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
    .partner_wrap .img_item {
        width: 30%;
    }
    .partner_wrap .img_item img {
        margin: 0 auto;
        display: block;
    }
}

footer {
    padding-top: 4rem;
.ftr_block {
    margin-bottom: 1.5rem;
}
.footer_copyright p {
    color: #393939;
    font-size: var(--bs-fs18);
}
.footer_copyright p img {
    width: 22px;
}
.offen_detail a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.offen_detail a img {
    width: 20px;
    margin-right: 10px;
}
.offen_detail a span {
    border-left: 1px solid var(--bs-blue);
    line-height: 1;
    padding-left: 10px;
}
.ftr_scl a {
    margin-right: 10px;
    margin-bottom: 1rem;
}
ul {
    margin-bottom: 0;
}
}

.inner_banner {
    height: 550px;
    display: flex;
    align-items: center;
.banner_content {
    background: rgba(236, 236, 236, 0.6);
    border-left: 30px solid rgba(13, 101, 155, 0.6);
    padding: 3rem 2rem;
    padding-bottom: 2rem;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    max-width: 800px;
    width: 100%;
}
}

.max_title p {
    max-width: 1000px;
    margin: 0 auto 1rem;
}

.dien_section {
.dien_list .dien_itm {
    margin-top: 4.5rem;
}
.dien_list .dien_itm .item_inner {
    border: 1px solid #e0e0e0;
    width: 100%;
    height: 100%;
    display: flex;
}
.dien_list .dien_itm .item_img {
    width: 40%;
}
.dien_list .dien_itm .item_img img {
    height: 100%;
    object-fit: cover;
    position: relative;
    top: -2.5rem;
}
.dien_list .dien_itm .item_inner .item_text {
    padding: 1.5rem;
    width: 60%;
}
.dien_itm .item_text h3, .dien_itm .item_text p {
    color: #000;
}
.dien_itm .item_text .time_data {
    padding-left: 1rem;
    border-left: 5px solid #99d3d1;
}
.dien_itm .item_text .time_data p {
    color: var(--bs-blue);
    margin: 0;
}
.dien_itm .item_text .time_data strong {
    font-weight: var(--bs-fw400);
    display: block;
}
}

.founder_wrapper .content_col {
    margin-top: 2rem;
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 30px rgb(0 0 0 / 5%);
}

.team_section {
    .team_itm img.item_img {
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
        border: 2px solid transparent;
    }
    .team_itm:hover img.item_img {
        border-color: var(--bs-green);
    }
    .green {
        color: var(--bs-green);
    }
    .item_body {
        padding: 1rem;
        line-height: 1.25;
    p {
        font-size: var(--bs-fs22);
        font-weight: var(--bs-fw400);
        margin-bottom: 10px;
        min-height: 50px;
        border-bottom: 1px solid rgba(226, 226, 226, 1);
        padding-bottom: 10px;
    } 
    small {
        font-size: var(--bs-fs18);
    }
}
}

.tab_container {
ul.nav.nav-tabs {
    border-bottom: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
}
ul.nav-tabs li {
    margin: 0;
}
ul.nav-tabs li a {
    font-size: var(--bs-fs24);
    font-weight: var(--bs-fw400);
    color: rgba(217, 217, 217, 1);
    font-family: var(--bs-fontvolkhov);
    padding: 10px 30px;
    border-radius: 0;
    text-transform: uppercase;
    border: 0;
    border-bottom: 3px solid rgba(217, 217, 217, 1);
}
ul.nav-tabs li a.active {
    border-bottom-color: var(--bs-green) !important;
    color: #000;
}
}

.shuffle_container {
    .shuffle_item_wrap {
        width: 100%;
        border: 1px solid var(--bs-blue);
        margin-top: 6rem;
    }
    .img_col img {
        height: 100%;
        object-fit: cover;
        top: -3.5rem;
        position: relative;
    }
    .content_box {
        padding: 2rem 1.25rem;
    }
    h3 {
        font-weight: var(--bs-fw400);
    }
    .content_box ul li {
        position: relative;
        padding-left: 30px;
        margin: 5px 0;
    }
    .content_box ul li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 22px;
        height: 22px;
        background: url(../images/list-icon.svg) no-repeat center;
        background-size: contain;
    }
}

.emrgeny_contact_container {
    .emergency_itm {
        width: calc(100% / 5);
        text-align: center;
        line-height: 1.25;
        margin-top: 3rem;
    }
    .item_inner {
        background-image: linear-gradient(to right, rgba(247, 254, 255, 1), rgba(202, 235, 255, 1));
        border-radius: 10px;
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
        padding: 0 1rem 1rem;
        height: 100%;
    }
    span.item_icon {
        width: 60px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to bottom, rgba(24, 102, 156, 1), rgba(37, 150, 169, 1));
        border-radius: 50%;
        padding: 13px;
        border: 3px solid #fff;
        top: -30px;
        position: relative;
        margin-bottom: -10px;
    }
    .itm_info p {
        font-weight: var(--bs-fw600);
        font-size: var(--bs-fs24);
        line-height: 1.25;
    }
    h4 {
        font-weight: var(--bs-fw600);
        line-height: 1;
    }
}


.accordion {
    .card {
        border-radius: 0;
        margin: 1em 0 0;
        border: 1px solid rgba(228, 228, 228, 1);
        overflow: hidden;
    }
    .card .card-header {
        background: transparent;
        margin-bottom: 0;
        border: 0;
        padding: 0;
    }
    .card-header a {
        width: 100%;
        display: inline-block;
        padding: 7px 15px;
        padding-right: 50px;
        position: relative;
        background: #fff;
        font-weight: var(--bs-fw500);
        color: #161615;
        border-radius: 0;
        font-size: var(--bs-h3);
    }
    .card-header a:before {
        content: ' ';
        position: absolute;
        right: 8px;
        top: 10px;
        width: 35px;
        height: 35px;
        background-image: url(../images/cross-blue.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 35px;
    }
    .card-header a.collapsed:before {
        background-image: url(../images/plus-blue.svg);
    }
    .card-body {
        padding-top: 0;
    }
    .card-body p:last-child {
        margin-bottom: 0;
    }
}


.green {
    .banner_content {
        border-left-color: rgba(0, 158, 75, 0.6);
    }
    h1, h2, .banner_content p, .itm_info p, h4 {
        color: var(--bs-green) !important;
    }
    .shuffle_item_wrap {
        border: 1px solid var(--bs-green) !important;
    }
    .emrgeny_contact_container {
        .item_inner {
            background-image: linear-gradient(to right, rgba(224, 243, 255, 1), rgba(233, 255, 243, 1)) !important;
        }
        span.item_icon {
            background-image: linear-gradient(to bottom, rgba(0, 158, 75, 1), rgba(37, 150, 169, 1)) !important;
        }
        p, h4 {
            color: var(--bs-green) !important;
        }
    }
    .card .card-header a:before {
        background-image: url(../images/cross-green.svg) !important;
    }
    .card .card-header a.collapsed:before {
        background-image: url(../images/plus-green.svg) !important;
    } 
}



.products-sec {
    background-color: #EEF1F4;
    padding: 4rem 0;
    color: #1C99AA;

    h2 {
        color: #0D659B;
    }

    .paragraph {
        color: #000000;
    }

    .product-items {
        height: 100%;

        .row {
            height: 100%;
        }
    }

    .product-item,
    .product-info,
    .about-product {
        color: #000000 !important;
    }

    .all_products {
        min-height: 10rem;
    }

    .product-info {
        min-height: 9.5rem;
    }

    .product-item p,
    .product-info p {
        font-size: 18px;
        font-weight: 300;
    }

    .product-item small,
    .product-info small,
    .about-product small {
        font-family: 'Livvic', sans-serif !important;
        font-weight: 300;
        font-size: 16px;
    }

    .discount {
        width: 4.2rem;
        aspect-ratio: 1 / 1;
        background: linear-gradient(to bottom right, #0D659B, #1C99AA);
        position: absolute;
        top: -12px;
        right: 12px;
        transform: rotateZ(10deg);
        border-radius: 50%;
        color: #fff;
        text-align: center;
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-info h5,
    .product-info h3,
    .product-info h4 {
        color: #1C99AA !important;
        font-weight: 700;
        position: relative;
        display: inline-block;
        margin-bottom: 0;
    }

    .product-info h4 {
        font-size: 22px !important;
    }

    .product-info .last_price {
        font-family: 'Volkhov', serif !important;
    }

    .product-info .last_price:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 2px;
        background-color: #1C99AA;
        width: 100%;
    }

    li {
        list-style-type: none;
    }

    li .option-link {
        font-family: 'Livvic', sans-serif;
        color: #1B639C !important;
    }

    h4,
    h6 {
        font-weight: 600;
    }

    .products-main-btn {
        display: inline-block;
        padding: 0.7rem 1rem;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        background: linear-gradient(to right, #1C99AA, #0D659B);
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    }
}